<div class="position-relative">
      <div class="position-absolute top-10 end-10" style="margin: 10px;">
          <a asp-action="Logout" asp-controller="Account">
        <div class="btn btn-doc">Выйти из аккаунта</div>
        </a>
      </div>
    </div>
<div class="container" style="height: 100vh;">
    <div class="row h-100 justify-content-center align-items-center text-center">
        <div class="col-xxl-6">
            <div class="row">
                <div class="col-md-6">
                    <a asp-action="Documents" asp-controller="Home">
                        <div class="link d-flex">
                            <div class="align-self-center" style="margin: auto;">
                                <span>Документы и файлы</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a asp-action="Requests" asp-controller="Home">
                        <div class="link d-flex">
                            <div class="align-self-center" style="margin: auto;">
                                <span>Заявка</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="row">
                <div class="col-md-6">
                    <a asp-action="Clients" asp-controller="Home">
                        <div class="link d-flex">
                            <div class="align-self-center" style="margin: auto;">
                                <span>Клиенты</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a asp-action="Employees" asp-controller="Home">
                        <div class="link d-flex">
                            <div class="align-self-center" style="margin: auto;">
                                <span>Сотрудники</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>